In [2]:
#Importing necessary libraries
import pandas as pd
import numpy as np

In [3]:
pwd

'C:\\Python36\\Scripts'

In [4]:
df_turnstiles_2014=pd.read_csv('Turnstile_Usage_Data__2014.csv')

c:\python36\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_turnstiles_2014.head()

,C/A,Unit,SCP,Station,Line Name,Division,Date,Time,Description,Entries,Exits
0,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,23:00:00,REGULAR,"4,943,320","1,674,736"
1,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,19:00:00,REGULAR,"4,943,145","1,674,709"
2,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,15:00:00,REGULAR,"4,942,439","1,674,636"
3,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,11:00:00,REGULAR,"4,942,012","1,674,547"
4,A002,R051,02-00-00,LEXINGTON AVE,NQR456,BMT,12/31/2014,10:21:51,REGULAR,"4,941,987","1,674,518"

In [6]:
# Feature Engineering for Subway Turnstiles 2014 Data
def create_day_series(df2):
    
    # Grouping by Date/Time to calculate number of trips
    day_df2 = pd.Series(df2.groupby(['Date']).size())
    # setting Date/Time as index
    day_df2.index = pd.DatetimeIndex(day_df2.index)
    # Resampling to daily trips
    day_df2 = day_df2.resample('1D').apply(np.sum)
    
    return day_df2

day_df2_2014 = create_day_series(df_turnstiles_2014)
day_df2_2014.head()

Date
2014-02-01    41043
2014-02-02    41534
2014-02-03    41992
2014-02-04    41685
2014-02-05    41191
Freq: D, dtype: int64

In [ ]:
day_df2_2014.to_csv('Subway_turnstiles_number_of_trips_data_2014',sep='\t')

In [ ]:
df_bike_data_june_2014=pd.read_csv('Bike_Data_June_2014.csv')

In [ ]:
df_bike_data_june_2014.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,520,6/1/2014 0:00,6/1/2014 0:08,358,Christopher St & Greenwich St,40.732916,-74.007114,426,West St & Chambers St,40.717548,-74.013221,18840,Subscriber,1979,1
1,520,6/1/2014 0:00,6/1/2014 0:09,335,Washington Pl & Broadway,40.729039,-73.994046,265,Stanton St & Chrystie St,40.722293,-73.991475,17442,Customer,\N,0
2,414,6/1/2014 0:00,6/1/2014 0:07,439,E 4 St & 2 Ave,40.726281,-73.989780,368,Carmine St & 6 Ave,40.730386,-74.002150,16447,Subscriber,1980,1
3,310,6/1/2014 0:00,6/1/2014 0:05,463,9 Ave & W 16 St,40.742065,-74.004432,380,W 4 St & 7 Ave S,40.734011,-74.002939,18218,Subscriber,1984,1
4,457,6/1/2014 0:00,6/1/2014 0:08,352,W 56 St & 6 Ave,40.763406,-73.977225,305,E 58 St & 3 Ave,40.760958,-73.967245,18115,Subscriber,1969,1

In [ ]:
# Feature Engineering for Bike Sharing June 2014 Data
def create_day_series(df3):
    
    # Grouping by Date/Time to calculate number of trips
    day_df3 = pd.Series(df3.groupby(['starttime']).size())
    # setting Date/Time as index
    day_df3.index = pd.DatetimeIndex(day_df3.index)
    # Resampling to daily trips
    day_df3 = day_df3.resample('1D').apply(np.sum)
    
    return day_df3

day_df3_2014 = create_day_series(df_bike_data_june_2014)
day_df3_2014.head()

starttime
2014-06-01    31333
2014-06-02    34519
2014-06-03    29501
2014-06-04    36068
2014-06-05    24619
Freq: D, dtype: int64

In [ ]:
day_df3_2014.to_csv('Bike_sharing_june_2014_data',sep='\t')

In [ ]:
#Preparing the uber 2014 main dataset
def prepare_2014_df():
    
    #Loading datasets
    uber_2014_apr=pd.read_csv('uber-raw-data-apr14.csv',header=0)
    uber_2014_may=pd.read_csv('uber-raw-data-may14.csv',header=0)
    uber_2014_jun=pd.read_csv('uber-raw-data-jun14.csv',header=0)
    uber_2014_jul=pd.read_csv('uber-raw-data-jul14.csv',header=0)
    uber_2014_aug=pd.read_csv('uber-raw-data-aug14.csv',header=0)
    uber_2014_sep=pd.read_csv('uber-raw-data-sep14.csv',header=0)

    
    #Merging
    df = uber_2014_apr.append([uber_2014_may,uber_2014_jun,uber_2014_jul,uber_2014_aug,uber_2014_sep], ignore_index=True)
    
    #returning merged dataframe
    return df

#Uber 2014 dataset
uber_2014_master = prepare_2014_df()
uber_2014_master.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [ ]:
uber_2015_df=pd.read_csv('Uber 2015 January to June.csv')

In [ ]:
uber_2015_df.head()

  Dispatching_base_num     Pickup_date Affiliated_base_num  locationID
0               B02617  5/17/2015 9:47              B02617         141
1               B02617  5/17/2015 9:47              B02617          65
2               B02617  5/17/2015 9:47              B02617         100
3               B02617  5/17/2015 9:47              B02774          80
4               B02617  5/17/2015 9:47              B02617          90

In [ ]:
# Feature Engineering for Uber 2015 Data
def create_day_series(df1):
    
    # Grouping by Date/Time to calculate number of trips
    day_df1 = pd.Series(df1.groupby(['Pickup_date']).size())
    # setting Date/Time as index
    day_df1.index = pd.DatetimeIndex(day_df1.index)
    # Resampling to daily trips
    day_df1 = day_df1.resample('1D').apply(np.sum)
    
    return day_df1

day_df1_2015 = create_day_series(uber_2015_df)
day_df1_2015.head()

Pickup_date
2015-01-01    11172
2015-01-02     6733
2015-01-03     8090
2015-01-04        0
2015-01-05     8492
Freq: D, dtype: int64

In [ ]:
day_df1_2015.to_csv('Uber2015_latest_number_of_trips_data',sep='\t')

In [ ]:
# Feature Engineering
def create_day_series(df):
    
    # Grouping by Date/Time to calculate number of trips
    day_df = pd.Series(df.groupby(['Date/Time']).size())
    # setting Date/Time as index
    day_df.index = pd.DatetimeIndex(day_df.index)
    # Resampling to daily trips
    day_df = day_df.resample('1D').apply(np.sum)
    
    return day_df

day_df_2014 = create_day_series(uber_2014_master)
day_df_2014.head()

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pwd

In [ ]:
day_df_2014.to_csv('Uber2014_data')

In [ ]:
day_df_2014.to_csv('Uber2014_latest_data',sep='\t')